.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  background-color: #353739;
}

.skeleton-shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -1080px;
  height: 100%;
  width: 1080px;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.05), transparent);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.page-container {
  @apply text-white py-6 px-0 sm:px-6 max-w-64 sm:max-w-2xl mx-auto;
}

.workout-container {
  @apply bg-[#1e1e1e] p-4 rounded-xl border border-white/10 hover:border-white/30;
}

.workout-details {
  @apply text-sm text-gray-400 my-4;
}

.form-step-container {
  @apply w-full max-w-2xl space-y-8 mx-auto;
}

.form-step-title {
  @apply text-2xl font-bold text-center;
}

.form-step-subtitle {
  @apply text-center text-sm text-[#a2a9b0] mt-2;
}

.button {
  @apply px-5 py-2 rounded-full font-medium transition;
}

.form-button {
  @apply py-3 px-4 rounded-full font-semibold border transition-all duration-300 truncate;
}

.dot {
  transition: transform 0.3s ease-in-out;
}

.bg-rgb {
  @apply bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500;
}

.bg-rgb-r {
  @apply bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500;
}